{{ define "menu"}}
    <br />
    <div class="btns btn-group btn-group-justified">
        <div class="btn-group"><a class="btn btn-default" href="/">Home</a></div>
        <div class="btn-group"><a class="btn btn-default" href="/post/1">Post 1</a></div>
        <div class="btn-group"><a class="btn btn-default" href="/post/2">Post 2</a></div>
        <div class="btn-group"><a class="btn btn-default" href="/post/3her">Wrong Post</a></div>
        <div class="btn-group"><a class="btn btn-default" href="/page-not-exists">page not exists</a></div>
    </div>
    <br />
{{ end }}